/* CSS Document */
.ni-frm-order-export {
background:#FFF;
margin-top:20px;
width:250px;
}

/*Table css*/
.data-table table {
	width: 100%; 
  	border-collapse: collapse; 
	}
 /* Zebra striping */
.data-table tr:nth-of-type(odd) { 
  background: #eee; 
}
.data-table th { 
  background: #666666; 
  color: white; 
  font-weight: bold; 
}	
.data-table td, .data-table th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
/*Summary Start From Here*/
.order-summary{
/*border:1px solid red;*/
width:100%;
float:left;
 background:#FFF;
 padding:10px;
}
.order-summary .box { 
	float:left; padding-right:19px;
	
}
.order-summary .box .circle
{
  font-size:16px;	
  height: 170px;
  width: 170px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: #FFF;
  color:#666;
  border: 1px solid #ccc; 
  overflow:hidden;
  text-align:center;
  font-weight:bold;
  
}
.circle span{
font-size:25px;
}
.order-summary .box .circle:hover {
  background: #CCC;
   border: 1px solid #999; 
 
}
/*Summary title*/
.summary-title{
	 background: #666666; 
  color: white; 
	padding:10px;
	font-weight:bold;
	margin-bottom:20px;

	font-size:20px;
}

/*Hide Print Item*/
@media print{ 
	.print_hide { display:none;}
	
	.change_status{
		color:#000;
		cursor:auto;
	}
	
	.data-table th.action_column, .data-table td.action_column{
		display:none;
	}

}